@import 'tailwindcss';

@utility text-sombra {
  text-shadow: 1px 1px #000;
  font-size: 1.2rem;
}

@utility animate-delay-2 {
  animation-delay: 200ms;
}

/* .text-sombra {
  text-shadow: 1px 1px #000;
} */

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}